.btn {
    border:0;
    outline: none;
    padding: 0;
    font-size: 1.8rem;
}

.btn--edit {
    color: green;
}

.btn--delete {
    color: red;
}

.info {
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 4px;
    color: black;
    opacity: 0;
    transition: .5s ease-in-out;
}

.info--success {
    border: 1px solid green;
    opacity: 1;
}

.info--error {
    border: 1px solid red;
    opacity: 1;
}

.fa-solid {
    pointer-events: none;
}